<!--[Gallery]-->
<div class="container-fluid gallery-box">
    <section id="works">
        <div id="gallery" style="visibility: visible; ">
            <a href="#openModal1">
                <figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">
                    <img class="img gallery" src="{{ asset('images/works/1.jpg') }}" alt="">
                    <figcaption>
                        {#<h1>Picture Name</h1>#}
                        <img class="lupa" src="{{ asset('images/lupa.png') }}" alt="">
                    </figcaption>
                </figure>
            </a>
            <a href="#openModal2">
                <figure class="col-md-3 col-sm-6 col-xs-12 images-gallery image">
                    <img class="img gallery" src="{{ asset('images/works/2.jpg') }}" alt="">
                    <figcaption>
                        {#<h1>Picture Name</h1>#}
                        <img class="lupa" src="{{ asset('images/lupa.png') }}" alt="">
                    </figcaption>
                </figure>
            </a>
            <a href="#openModal3">
                <figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">
                    <img class="img gallery" src="{{ asset('images/works/3.jpg') }}" alt="">
                    <figcaption>
                        {#<h1>Picture Name</h1>#}
                        <img class="lupa" src="{{ asset('images/lupa.png') }}" alt="">
                    </figcaption>
                </figure>
            </a>
            <a href="#openModal4">
                <figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">
                    <img class="img gallery" src="{{ asset('images/works/4.jpg') }}" alt="">
                    <figcaption>
                        {#<h1>Picture Name</h1>#}
                        <img class="lupa" src="{{ asset('images/lupa.png') }}" alt="">
                    </figcaption>
                </figure>
            </a>
            {#<a href="#openModal5">#}
                {#<figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">#}
                    {#<img class="img gallery" src="{{ asset('build/images/works/4.jpg') }}" alt="">#}
                    {#<figcaption>#}
                        {#<h1>Picture Name</h1>#}
                        {#<img class="lupa" src="{{ asset('build/images/lupa.png') }}" alt="">#}
                    {#</figcaption>#}
                {#</figure>#}
            {#</a>#}
            {#<a href="#openModal6">#}
                {#<figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">#}
                    {#<img class="img gallery" src="{{ asset('build/images/works/3.jpg') }}" alt="">#}
                    {#<figcaption>#}
                        {#<h1>Picture Name</h1>#}
                        {#<img class="lupa" src="{{ asset('build/images/lupa.png') }}" alt="">#}
                    {#</figcaption>#}
                {#</figure>#}
            {#</a>#}
            {#<a href="#openModal7">#}
                {#<figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">#}
                    {#<img class="img gallery" src="{{ asset('build/images/works/2.jpg') }}" alt="">#}
                    {#<figcaption>#}
                        {#<h1>Picture Name</h1>#}
                        {#<img class="lupa" src="{{ asset('build/images/lupa.png') }}" alt="">#}
                    {#</figcaption>#}
                {#</figure>#}
            {#</a>#}
            {#<a href="#openModal8">#}
                {#<figure class="col-md-3 col-sm-6 col-xs-12 images-gallery">#}
                    {#<img class="img gallery" src="{{ asset('build/images/works/1.jpg') }}" alt="">#}
                    {#<figcaption>#}
                        {#<h1>Picture Name</h1>#}
                        {#<img class="lupa" src="{{ asset('build/images/lupa.png') }}" alt="">#}
                    {#</figcaption>#}
                {#</figure>#}
            {#</a>#}
        </div>

        <div id="openModal1" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img class="img" src="{{ asset('images/works/1.jpg') }}" alt="">
            </div>
        </div>

        <div id="openModal2" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img class="img" src="{{ asset('images/works/2.jpg') }}" alt="">
            </div>
        </div>

        <div id="openModal3" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img class="img" src="{{ asset('images/works/3.jpg') }}" alt="">
            </div>
        </div>

        <div id="openModal4" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img class="img" src="{{ asset('images/works/4.jpg') }}" alt="">
            </div>
        </div>

        {#<div id="openModal5" class="modalDialog">#}
            {#<div>#}
                {#<a href="#close" title="Close" class="close">X</a>#}
                {#<img class="img" src="{{ asset('build/images/works/1.jpg') }}" alt="">#}
            {#</div>#}
        {#</div>#}

        {#<div id="openModal6" class="modalDialog">#}
            {#<div>#}
                {#<a href="#close" title="Close" class="close">X</a>#}
                {#<img class="img" src="{{ asset('build/images/works/2.jpg') }}" alt="">#}
            {#</div>#}
        {#</div>#}

        {#<div id="openModal7" class="modalDialog">#}
            {#<div>#}
                {#<a href="#close" title="Close" class="close">X</a>#}
                {#<img class="img" src="{{ asset('build/images/works/3.jpg') }}" alt="">#}
            {#</div>#}
        {#</div>#}

        {#<div id="openModal8" class="modalDialog">#}
            {#<div>#}
                {#<a href="#close" title="Close" class="close">X</a>#}
                {#<img class="img" src="{{ asset('build/images/works/4.jpg') }}" alt="">#}
            {#</div>#}
        {#</div>#}
    </section>
</div>
<!--[Gallery-end]-->