<!--[Our Team]-->
<div class="container-fluid">
    <section id="team">
        <div class="row our-team">
            <h2 data-sr='wait 0.1s, then enter top and hustle 100px over 1s'>Our Team</h2>
            <div class="testimonial-border"></div>
            <div class="row our-team">
                <div class="col-md-4  team-text ">
                    <div data-sr='wait 0.1s, then enter left and hustle 125px over 1.5s'>
                        <img class="img img-circle photo" src="{{ asset('build/images/team/cloud.jpg') }}" alt="" />
                        <h2>John Wax</h2>
                        <div class="testimonial-border"></div>
                        <h4>Web Developer</h4>
                        <p class="text-aboutus" >John likes programming, cats ad You</p>
                        <div class="social-icon-team">
                            <ul class="social-icon-team">
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerFacebookteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerTwitterteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  team-text ">
                    <div data-sr='wait 0.1s, then enter bottom and hustle 125px over 1.5s'>
                        <img class="img img-circle photo" src="{{ asset('build/images/team/wax.jpg') }}" alt="" />
                        <h2>Sean Axe</h2>
                        <div class="testimonial-border"></div>
                        <h4>Graphic Designer</h4>
                        <p class="text-aboutus" >Sean likes running. He loves nature and colors</p>
                        <div class="social-icon-team">
                            <ul class="social-icon-team">
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerFacebookteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerTwitterteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  team-text ">
                    <div data-sr='wait 0.1s, then enter right and hustle 125px over 1.5s'>
                        <img class="img img-circle photo" src="{{ asset('build/images/team/axe.jpg') }}" alt="" />
                        <h2>Samuel Cloud</h2>
                        <div class="testimonial-border"></div>
                        <h4>Project Manager</h4>
                        <p class="text-aboutus" >Seamuel likes being workoholic</p>
                        <div class="social-icon-team">
                            <ul class="social-icon-team">
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerFacebookteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerTwitterteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2  team-text team-text-down">
                    <div data-sr='wait 0.1s, then enter left and hustle 125px over 1.5s'>
                        <img class="img img-circle photo" src="{{ asset('build/images/team/know.jpg') }}" alt="" />
                        <h2>Amanda Now</h2>
                        <div class="testimonial-border"></div>
                        <h4>Illustrator</h4>
                        <p class="text-aboutus" >Amanda is the youngest</p>
                        <div class="social-icon-team">
                            <ul class="social-icon-team">
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerFacebookteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerTwitterteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4   team-text team-text-down">
                    <div data-sr='wait 0.1s, then enter right and hustle 125px over 1.5s'>
                        <img class="img img-circle photo" src="{{ asset('build/images/team/kowalsky.jpg') }}" alt="" />
                        <h2>Ann Kowalsky</h2>
                        <div class="testimonial-border"></div>
                        <h4>Copywriter</h4>
                        <p class="text-aboutus" >The word is her weapon</p>
                        <div class="social-icon-team">
                            <ul class="social-icon-team">
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerFacebookteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerTwitterteam"></a>
                                </li>
                                <li class="icon-team">
                                    <a href="#" target="_blank" class="footerPinterestteam"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<!--[Our Team end]-->