<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107284974-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-107284974-3');
        </script>

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/css.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jsdelvr.css') }}">
            <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light' rel='stylesheet' type='text/css'>
        {% endblock %}
        <!-- Smartsupp Live Chat script -->
        <script type="text/javascript"> var _smartsupp = _smartsupp || {}; _smartsupp.key = 'd13fd661ff6e85396af91daa59c0847632f09bb0'; window.smartsupp||(function(d) { var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[]; s=d.getElementsByTagName('script')[0];c=d.createElement('script'); c.type='text/javascript';c.charset='utf-8';c.async=true; c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s); })(document);</script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
            <script src="{{ asset('js/jquery.countdown.js') }}"></script>
            <script src="{{ asset('js/html5shiv.min.js') }}"></script>
            <script src="{{ asset('js/respond.min.js') }}"></script>
            <script src="{{ asset('js/waypoints.min.js') }}"></script>
            <script src="{{ asset('js/jquery.counterup.js') }}"></script>
            <!--</maps>-->
            <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi4pzXIaemolBXDPx_xYjp-97HMC209GI">
            </script>
            <script src="{{ asset('js/javascript.js') }}"></script>
            <script src="{{ asset('js/smoothscroll.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/anijs.js') }}"></script>
            <script src="{{ asset('js/scrollreveal.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('js/scrolling-nav.js') }}"></script>
            <script src="{{ asset('js/jquery.vide.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
